Source: aubio-lv2
Priority: extra
Maintainer: Jeremy Salwen <jeremybubs@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: https://github.com/jeremysalwen/Aubio-LV2-Plugins
Vcs-Git: git://github.com/jeremysalwen/Aubio-LV2-Plugins.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/aubio-lv2.git;a=summary

Package: aubio-lv2
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A set of LV2 plugins wrapping Aubio
 This is a set of LV2 plugins which wraps the Aubio sound analysis library.
Currently it contains two plugins, a Transient/Steady State Separator, and
an Onset Detector.
